
//BG-COLOR
$bg-color: #839788;
$song-bg : #F2EBDB;
$card-bg : #EEE0CB;

// LINK colors
$link-color: #42b983;
$router-link-active: gold;


//TEXT

$heading: #214E34;
$black: black;
$heading-main: #0A2463;
$font-color: #CBDF90;

//Shadows
$shadow-color: gold;
$box-shadow : rgba(0, 0, 0, .4);

// BUTTONS

$button-color:  #214E34;
$button-text:  #EEE0CB;

// TABLE
$table-border: #4b4b4b;
$table-bg: rgba(4, 180, 255, 0.31);


//NAVIGATION
$nav-bg: linear-gradient(to right, #8e2de2, #4a00e0);

// BORDER RADIUS

$border-radius: 20px;

// TEMPERATURES

$hot: orangered;
$moderate-hot: orange;
$moderate-cold: #47ab39;
$cold: #038dd1;
$freeze: lighten(#00ccff,10%);

$prediction-temp: #f7f7f7;
$prediction-rain: #f7f7f7;
$prediction-snow: #f7f7f7;
